<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>#</key>
	<array>
		<dict>
			<key>country</key>
			<string>China</string>
			<key>country_code</key>
			<string>86</string>
			<key>iso_code</key>
			<string>cn</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Hong Kong</string>
			<key>country_code</key>
			<string>852</string>
			<key>iso_code</key>
			<string>hk</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Macao</string>
			<key>country_code</key>
			<string>853</string>
			<key>iso_code</key>
			<string>mo</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Taiwan</string>
			<key>country_code</key>
			<string>886</string>
			<key>iso_code</key>
			<string>tw</string>
		</dict>
	</array>
	<key>A</key>
	<array>
		<dict>
			<key>country</key>
			<string>Afghanistan</string>
			<key>country_code</key>
			<string>93</string>
			<key>iso_code</key>
			<string>af</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Albania</string>
			<key>country_code</key>
			<string>355</string>
			<key>iso_code</key>
			<string>al</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Algeria</string>
			<key>country_code</key>
			<string>213</string>
			<key>iso_code</key>
			<string>dz</string>
		</dict>
		<dict>
			<key>country</key>
			<string>American Samoa</string>
			<key>country_code</key>
			<string>1</string>
			<key>iso_code</key>
			<string>as</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Andorra</string>
			<key>country_code</key>
			<string>376</string>
			<key>iso_code</key>
			<string>ad</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Angola</string>
			<key>country_code</key>
			<string>244</string>
			<key>iso_code</key>
			<string>ao</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Anguilla</string>
			<key>country_code</key>
			<string>1</string>
			<key>iso_code</key>
			<string>ai</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Antigua and Barbuda</string>
			<key>country_code</key>
			<string>1</string>
			<key>iso_code</key>
			<string>ag</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Argentina</string>
			<key>country_code</key>
			<string>54</string>
			<key>iso_code</key>
			<string>ar</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Armenia</string>
			<key>country_code</key>
			<string>374</string>
			<key>iso_code</key>
			<string>am</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Aruba</string>
			<key>country_code</key>
			<string>297</string>
			<key>iso_code</key>
			<string>aw</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Australia</string>
			<key>country_code</key>
			<string>61</string>
			<key>iso_code</key>
			<string>au</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Austria</string>
			<key>country_code</key>
			<string>43</string>
			<key>iso_code</key>
			<string>at</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Azerbaijan</string>
			<key>country_code</key>
			<string>994</string>
			<key>iso_code</key>
			<string>az</string>
		</dict>
	</array>
	<key>B</key>
	<array>
		<dict>
			<key>country</key>
			<string>Bahamas</string>
			<key>country_code</key>
			<string>1</string>
			<key>iso_code</key>
			<string>bs</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Bahrain</string>
			<key>country_code</key>
			<string>973</string>
			<key>iso_code</key>
			<string>bh</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Bangladesh</string>
			<key>country_code</key>
			<string>880</string>
			<key>iso_code</key>
			<string>bd</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Barbados</string>
			<key>country_code</key>
			<string>1</string>
			<key>iso_code</key>
			<string>bb</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Belarus</string>
			<key>country_code</key>
			<string>375</string>
			<key>iso_code</key>
			<string>by</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Belgium</string>
			<key>country_code</key>
			<string>32</string>
			<key>iso_code</key>
			<string>be</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Belize</string>
			<key>country_code</key>
			<string>501</string>
			<key>iso_code</key>
			<string>bz</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Benin</string>
			<key>country_code</key>
			<string>229</string>
			<key>iso_code</key>
			<string>bj</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Bermuda</string>
			<key>country_code</key>
			<string>1</string>
			<key>iso_code</key>
			<string>bm</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Bhutan</string>
			<key>country_code</key>
			<string>975</string>
			<key>iso_code</key>
			<string>bt</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Bolivia</string>
			<key>country_code</key>
			<string>591</string>
			<key>iso_code</key>
			<string>bo</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Bosnia and Herzegovina</string>
			<key>country_code</key>
			<string>387</string>
			<key>iso_code</key>
			<string>ba</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Botswana</string>
			<key>country_code</key>
			<string>267</string>
			<key>iso_code</key>
			<string>bw</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Brazil</string>
			<key>country_code</key>
			<string>55</string>
			<key>iso_code</key>
			<string>br</string>
		</dict>
		<dict>
			<key>country</key>
			<string>British Indian Ocean Territory</string>
			<key>country_code</key>
			<string>246</string>
			<key>iso_code</key>
			<string>io</string>
		</dict>
		<dict>
			<key>country</key>
			<string>British Virgin Islands</string>
			<key>country_code</key>
			<string>1</string>
			<key>iso_code</key>
			<string>vg</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Brunei</string>
			<key>country_code</key>
			<string>673</string>
			<key>iso_code</key>
			<string>bn</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Bulgaria</string>
			<key>country_code</key>
			<string>359</string>
			<key>iso_code</key>
			<string>bg</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Burkina Faso</string>
			<key>country_code</key>
			<string>226</string>
			<key>iso_code</key>
			<string>bf</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Burundi</string>
			<key>country_code</key>
			<string>257</string>
			<key>iso_code</key>
			<string>bi</string>
		</dict>
	</array>
	<key>C</key>
	<array>
		<dict>
			<key>country</key>
			<string>Cambodia</string>
			<key>country_code</key>
			<string>855</string>
			<key>iso_code</key>
			<string>kh</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Cameroon</string>
			<key>country_code</key>
			<string>237</string>
			<key>iso_code</key>
			<string>cm</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Canada</string>
			<key>country_code</key>
			<string>1</string>
			<key>iso_code</key>
			<string>ca</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Cape Verde</string>
			<key>country_code</key>
			<string>238</string>
			<key>iso_code</key>
			<string>cv</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Cayman Islands</string>
			<key>country_code</key>
			<string>1</string>
			<key>iso_code</key>
			<string>ky</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Central African Republic</string>
			<key>country_code</key>
			<string>236</string>
			<key>iso_code</key>
			<string>cf</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Chad</string>
			<key>country_code</key>
			<string>235</string>
			<key>iso_code</key>
			<string>td</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Chile</string>
			<key>country_code</key>
			<string>56</string>
			<key>iso_code</key>
			<string>cl</string>
		</dict>
		<dict>
			<key>country</key>
			<string>China</string>
			<key>country_code</key>
			<string>86</string>
			<key>iso_code</key>
			<string>cn</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Christmas Island</string>
			<key>country_code</key>
			<string>61</string>
			<key>iso_code</key>
			<string>cx</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Cocos Islands</string>
			<key>country_code</key>
			<string>61</string>
			<key>iso_code</key>
			<string>cc</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Colombia</string>
			<key>country_code</key>
			<string>57</string>
			<key>iso_code</key>
			<string>co</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Comoros</string>
			<key>country_code</key>
			<string>269</string>
			<key>iso_code</key>
			<string>km</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Cook Islands</string>
			<key>country_code</key>
			<string>682</string>
			<key>iso_code</key>
			<string>ck</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Costa Rica</string>
			<key>country_code</key>
			<string>506</string>
			<key>iso_code</key>
			<string>cr</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Croatia</string>
			<key>country_code</key>
			<string>385</string>
			<key>iso_code</key>
			<string>hr</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Cuba</string>
			<key>country_code</key>
			<string>53</string>
			<key>iso_code</key>
			<string>cu</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Cyprus</string>
			<key>country_code</key>
			<string>357</string>
			<key>iso_code</key>
			<string>cy</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Czech Republic</string>
			<key>country_code</key>
			<string>420</string>
			<key>iso_code</key>
			<string>cz</string>
		</dict>
	</array>
	<key>D</key>
	<array>
		<dict>
			<key>country</key>
			<string>Democratic Republic of the Congo</string>
			<key>country_code</key>
			<string>243</string>
			<key>iso_code</key>
			<string>cd</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Denmark</string>
			<key>country_code</key>
			<string>45</string>
			<key>iso_code</key>
			<string>dk</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Djibouti</string>
			<key>country_code</key>
			<string>253</string>
			<key>iso_code</key>
			<string>dj</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Dominica</string>
			<key>country_code</key>
			<string>1</string>
			<key>iso_code</key>
			<string>dm</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Dominican Republic</string>
			<key>country_code</key>
			<string>1</string>
			<key>iso_code</key>
			<string>do</string>
		</dict>
	</array>
	<key>E</key>
	<array>
		<dict>
			<key>country</key>
			<string>East Timor</string>
			<key>country_code</key>
			<string>670</string>
			<key>iso_code</key>
			<string>tl</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Ecuador</string>
			<key>country_code</key>
			<string>593</string>
			<key>iso_code</key>
			<string>ec</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Egypt</string>
			<key>country_code</key>
			<string>20</string>
			<key>iso_code</key>
			<string>eg</string>
		</dict>
		<dict>
			<key>country</key>
			<string>El Salvador</string>
			<key>country_code</key>
			<string>503</string>
			<key>iso_code</key>
			<string>sv</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Equatorial Guinea</string>
			<key>country_code</key>
			<string>240</string>
			<key>iso_code</key>
			<string>gq</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Eritrea</string>
			<key>country_code</key>
			<string>291</string>
			<key>iso_code</key>
			<string>er</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Estonia</string>
			<key>country_code</key>
			<string>372</string>
			<key>iso_code</key>
			<string>ee</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Ethiopia</string>
			<key>country_code</key>
			<string>251</string>
			<key>iso_code</key>
			<string>et</string>
		</dict>
	</array>
	<key>F</key>
	<array>
		<dict>
			<key>country</key>
			<string>Falkland Islands</string>
			<key>country_code</key>
			<string>500</string>
			<key>iso_code</key>
			<string>fk</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Faroe Islands</string>
			<key>country_code</key>
			<string>298</string>
			<key>iso_code</key>
			<string>fo</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Fiji</string>
			<key>country_code</key>
			<string>679</string>
			<key>iso_code</key>
			<string>fj</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Finland</string>
			<key>country_code</key>
			<string>358</string>
			<key>iso_code</key>
			<string>fi</string>
		</dict>
		<dict>
			<key>country</key>
			<string>France</string>
			<key>country_code</key>
			<string>33</string>
			<key>iso_code</key>
			<string>fr</string>
		</dict>
		<dict>
			<key>country</key>
			<string>French Polynesia</string>
			<key>country_code</key>
			<string>689</string>
			<key>iso_code</key>
			<string>pf</string>
		</dict>
	</array>
	<key>G</key>
	<array>
		<dict>
			<key>country</key>
			<string>Gabon</string>
			<key>country_code</key>
			<string>241</string>
			<key>iso_code</key>
			<string>ga</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Gambia</string>
			<key>country_code</key>
			<string>220</string>
			<key>iso_code</key>
			<string>gm</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Georgia</string>
			<key>country_code</key>
			<string>995</string>
			<key>iso_code</key>
			<string>ge</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Germany</string>
			<key>country_code</key>
			<string>49</string>
			<key>iso_code</key>
			<string>de</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Ghana</string>
			<key>country_code</key>
			<string>233</string>
			<key>iso_code</key>
			<string>gh</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Gibraltar</string>
			<key>country_code</key>
			<string>350</string>
			<key>iso_code</key>
			<string>gi</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Greece</string>
			<key>country_code</key>
			<string>30</string>
			<key>iso_code</key>
			<string>gr</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Greenland</string>
			<key>country_code</key>
			<string>299</string>
			<key>iso_code</key>
			<string>gl</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Grenada</string>
			<key>country_code</key>
			<string>1</string>
			<key>iso_code</key>
			<string>gd</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Guam</string>
			<key>country_code</key>
			<string>1</string>
			<key>iso_code</key>
			<string>gu</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Guatemala</string>
			<key>country_code</key>
			<string>502</string>
			<key>iso_code</key>
			<string>gt</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Guernsey</string>
			<key>country_code</key>
			<string>44</string>
			<key>iso_code</key>
			<string>gg</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Guinea</string>
			<key>country_code</key>
			<string>224</string>
			<key>iso_code</key>
			<string>gn</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Guinea-Bissau</string>
			<key>country_code</key>
			<string>245</string>
			<key>iso_code</key>
			<string>gw</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Guyana</string>
			<key>country_code</key>
			<string>592</string>
			<key>iso_code</key>
			<string>gy</string>
		</dict>
	</array>
	<key>H</key>
	<array>
		<dict>
			<key>country</key>
			<string>Haiti</string>
			<key>country_code</key>
			<string>509</string>
			<key>iso_code</key>
			<string>ht</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Honduras</string>
			<key>country_code</key>
			<string>504</string>
			<key>iso_code</key>
			<string>hn</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Hong Kong</string>
			<key>country_code</key>
			<string>852</string>
			<key>iso_code</key>
			<string>hk</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Hungary</string>
			<key>country_code</key>
			<string>36</string>
			<key>iso_code</key>
			<string>hu</string>
		</dict>
	</array>
	<key>I</key>
	<array>
		<dict>
			<key>country</key>
			<string>Iceland</string>
			<key>country_code</key>
			<string>354</string>
			<key>iso_code</key>
			<string>is</string>
		</dict>
		<dict>
			<key>country</key>
			<string>India</string>
			<key>country_code</key>
			<string>91</string>
			<key>iso_code</key>
			<string>in</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Indonesia</string>
			<key>country_code</key>
			<string>62</string>
			<key>iso_code</key>
			<string>id</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Iran</string>
			<key>country_code</key>
			<string>98</string>
			<key>iso_code</key>
			<string>ir</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Iraq</string>
			<key>country_code</key>
			<string>964</string>
			<key>iso_code</key>
			<string>iq</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Ireland</string>
			<key>country_code</key>
			<string>353</string>
			<key>iso_code</key>
			<string>ie</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Isle of Man</string>
			<key>country_code</key>
			<string>44</string>
			<key>iso_code</key>
			<string>im</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Israel</string>
			<key>country_code</key>
			<string>972</string>
			<key>iso_code</key>
			<string>il</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Italy</string>
			<key>country_code</key>
			<string>39</string>
			<key>iso_code</key>
			<string>it</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Ivory Coast</string>
			<key>country_code</key>
			<string>225</string>
			<key>iso_code</key>
			<string>ci</string>
		</dict>
	</array>
	<key>J</key>
	<array>
		<dict>
			<key>country</key>
			<string>Jamaica</string>
			<key>country_code</key>
			<string>1</string>
			<key>iso_code</key>
			<string>jm</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Japan</string>
			<key>country_code</key>
			<string>81</string>
			<key>iso_code</key>
			<string>jp</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Jersey</string>
			<key>country_code</key>
			<string>44</string>
			<key>iso_code</key>
			<string>je</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Jordan</string>
			<key>country_code</key>
			<string>962</string>
			<key>iso_code</key>
			<string>jo</string>
		</dict>
	</array>
	<key>K</key>
	<array>
		<dict>
			<key>country</key>
			<string>Kazakhstan</string>
			<key>country_code</key>
			<string>7</string>
			<key>iso_code</key>
			<string>kz</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Kenya</string>
			<key>country_code</key>
			<string>254</string>
			<key>iso_code</key>
			<string>ke</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Kiribati</string>
			<key>country_code</key>
			<string>686</string>
			<key>iso_code</key>
			<string>ki</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Kuwait</string>
			<key>country_code</key>
			<string>965</string>
			<key>iso_code</key>
			<string>kw</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Kyrgyzstan</string>
			<key>country_code</key>
			<string>996</string>
			<key>iso_code</key>
			<string>kg</string>
		</dict>
	</array>
	<key>L</key>
	<array>
		<dict>
			<key>country</key>
			<string>Laos</string>
			<key>country_code</key>
			<string>856</string>
			<key>iso_code</key>
			<string>la</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Latvia</string>
			<key>country_code</key>
			<string>371</string>
			<key>iso_code</key>
			<string>lv</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Lebanon</string>
			<key>country_code</key>
			<string>961</string>
			<key>iso_code</key>
			<string>lb</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Lesotho</string>
			<key>country_code</key>
			<string>266</string>
			<key>iso_code</key>
			<string>ls</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Liberia</string>
			<key>country_code</key>
			<string>231</string>
			<key>iso_code</key>
			<string>lr</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Libya</string>
			<key>country_code</key>
			<string>218</string>
			<key>iso_code</key>
			<string>ly</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Liechtenstein</string>
			<key>country_code</key>
			<string>423</string>
			<key>iso_code</key>
			<string>li</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Lithuania</string>
			<key>country_code</key>
			<string>370</string>
			<key>iso_code</key>
			<string>lt</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Luxembourg</string>
			<key>country_code</key>
			<string>352</string>
			<key>iso_code</key>
			<string>lu</string>
		</dict>
	</array>
	<key>M</key>
	<array>
		<dict>
			<key>country</key>
			<string>Macao</string>
			<key>country_code</key>
			<string>853</string>
			<key>iso_code</key>
			<string>mo</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Macedonia</string>
			<key>country_code</key>
			<string>389</string>
			<key>iso_code</key>
			<string>mk</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Madagascar</string>
			<key>country_code</key>
			<string>261</string>
			<key>iso_code</key>
			<string>mg</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Malawi</string>
			<key>country_code</key>
			<string>265</string>
			<key>iso_code</key>
			<string>mw</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Malaysia</string>
			<key>country_code</key>
			<string>60</string>
			<key>iso_code</key>
			<string>my</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Maldives</string>
			<key>country_code</key>
			<string>960</string>
			<key>iso_code</key>
			<string>mv</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Mali</string>
			<key>country_code</key>
			<string>223</string>
			<key>iso_code</key>
			<string>ml</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Malta</string>
			<key>country_code</key>
			<string>356</string>
			<key>iso_code</key>
			<string>mt</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Marshall Islands</string>
			<key>country_code</key>
			<string>692</string>
			<key>iso_code</key>
			<string>mh</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Mauritania</string>
			<key>country_code</key>
			<string>222</string>
			<key>iso_code</key>
			<string>mr</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Mauritius</string>
			<key>country_code</key>
			<string>230</string>
			<key>iso_code</key>
			<string>mu</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Mayotte</string>
			<key>country_code</key>
			<string>262</string>
			<key>iso_code</key>
			<string>yt</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Mexico</string>
			<key>country_code</key>
			<string>52</string>
			<key>iso_code</key>
			<string>mx</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Micronesia</string>
			<key>country_code</key>
			<string>691</string>
			<key>iso_code</key>
			<string>fm</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Moldova</string>
			<key>country_code</key>
			<string>373</string>
			<key>iso_code</key>
			<string>md</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Monaco</string>
			<key>country_code</key>
			<string>377</string>
			<key>iso_code</key>
			<string>mc</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Mongolia</string>
			<key>country_code</key>
			<string>976</string>
			<key>iso_code</key>
			<string>mn</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Montenegro</string>
			<key>country_code</key>
			<string>382</string>
			<key>iso_code</key>
			<string>me</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Montserrat</string>
			<key>country_code</key>
			<string>1</string>
			<key>iso_code</key>
			<string>ms</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Morocco</string>
			<key>country_code</key>
			<string>212</string>
			<key>iso_code</key>
			<string>ma</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Mozambique</string>
			<key>country_code</key>
			<string>258</string>
			<key>iso_code</key>
			<string>mz</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Myanmar</string>
			<key>country_code</key>
			<string>95</string>
			<key>iso_code</key>
			<string>mm</string>
		</dict>
	</array>
	<key>N</key>
	<array>
		<dict>
			<key>country</key>
			<string>Namibia</string>
			<key>country_code</key>
			<string>264</string>
			<key>iso_code</key>
			<string>na</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Nauru</string>
			<key>country_code</key>
			<string>674</string>
			<key>iso_code</key>
			<string>nr</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Nepal</string>
			<key>country_code</key>
			<string>977</string>
			<key>iso_code</key>
			<string>np</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Netherlands</string>
			<key>country_code</key>
			<string>31</string>
			<key>iso_code</key>
			<string>nl</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Netherlands Antilles</string>
			<key>country_code</key>
			<string>599</string>
			<key>iso_code</key>
			<string>an</string>
		</dict>
		<dict>
			<key>country</key>
			<string>New Caledonia</string>
			<key>country_code</key>
			<string>687</string>
			<key>iso_code</key>
			<string>nc</string>
		</dict>
		<dict>
			<key>country</key>
			<string>New Zealand</string>
			<key>country_code</key>
			<string>64</string>
			<key>iso_code</key>
			<string>nz</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Nicaragua</string>
			<key>country_code</key>
			<string>505</string>
			<key>iso_code</key>
			<string>ni</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Niger</string>
			<key>country_code</key>
			<string>227</string>
			<key>iso_code</key>
			<string>ne</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Nigeria</string>
			<key>country_code</key>
			<string>234</string>
			<key>iso_code</key>
			<string>ng</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Niue</string>
			<key>country_code</key>
			<string>683</string>
			<key>iso_code</key>
			<string>nu</string>
		</dict>
		<dict>
			<key>country</key>
			<string>North Korea</string>
			<key>country_code</key>
			<string>850</string>
			<key>iso_code</key>
			<string>kp</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Northern Mariana Islands</string>
			<key>country_code</key>
			<string>1</string>
			<key>iso_code</key>
			<string>mp</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Norway</string>
			<key>country_code</key>
			<string>47</string>
			<key>iso_code</key>
			<string>no</string>
		</dict>
	</array>
	<key>O</key>
	<array>
		<dict>
			<key>country</key>
			<string>Oman</string>
			<key>country_code</key>
			<string>968</string>
			<key>iso_code</key>
			<string>om</string>
		</dict>
	</array>
	<key>P</key>
	<array>
		<dict>
			<key>country</key>
			<string>Pakistan</string>
			<key>country_code</key>
			<string>92</string>
			<key>iso_code</key>
			<string>pk</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Palau</string>
			<key>country_code</key>
			<string>680</string>
			<key>iso_code</key>
			<string>pw</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Palestine</string>
			<key>country_code</key>
			<string>970</string>
			<key>iso_code</key>
			<string>ps</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Panama</string>
			<key>country_code</key>
			<string>507</string>
			<key>iso_code</key>
			<string>pa</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Papua New Guinea</string>
			<key>country_code</key>
			<string>675</string>
			<key>iso_code</key>
			<string>pg</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Paraguay</string>
			<key>country_code</key>
			<string>595</string>
			<key>iso_code</key>
			<string>py</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Peru</string>
			<key>country_code</key>
			<string>51</string>
			<key>iso_code</key>
			<string>pe</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Philippines</string>
			<key>country_code</key>
			<string>63</string>
			<key>iso_code</key>
			<string>ph</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Pitcairn</string>
			<key>country_code</key>
			<string>64</string>
			<key>iso_code</key>
			<string>pn</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Poland</string>
			<key>country_code</key>
			<string>48</string>
			<key>iso_code</key>
			<string>pl</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Portugal</string>
			<key>country_code</key>
			<string>351</string>
			<key>iso_code</key>
			<string>pt</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Puerto Rico</string>
			<key>country_code</key>
			<string>1</string>
			<key>iso_code</key>
			<string>pr</string>
		</dict>
	</array>
	<key>Q</key>
	<array>
		<dict>
			<key>country</key>
			<string>Qatar</string>
			<key>country_code</key>
			<string>974</string>
			<key>iso_code</key>
			<string>qa</string>
		</dict>
	</array>
	<key>R</key>
	<array>
		<dict>
			<key>country</key>
			<string>Republic of the Congo</string>
			<key>country_code</key>
			<string>242</string>
			<key>iso_code</key>
			<string>cg</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Reunion</string>
			<key>country_code</key>
			<string>262</string>
			<key>iso_code</key>
			<string>re</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Romania</string>
			<key>country_code</key>
			<string>40</string>
			<key>iso_code</key>
			<string>ro</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Russia</string>
			<key>country_code</key>
			<string>7</string>
			<key>iso_code</key>
			<string>ru</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Rwanda</string>
			<key>country_code</key>
			<string>250</string>
			<key>iso_code</key>
			<string>rw</string>
		</dict>
	</array>
	<key>S</key>
	<array>
		<dict>
			<key>country</key>
			<string>Saint Barthelemy</string>
			<key>country_code</key>
			<string>590</string>
			<key>iso_code</key>
			<string>bl</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Saint Helena</string>
			<key>country_code</key>
			<string>290</string>
			<key>iso_code</key>
			<string>sh</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Saint Kitts and Nevis</string>
			<key>country_code</key>
			<string>1</string>
			<key>iso_code</key>
			<string>kn</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Saint Lucia</string>
			<key>country_code</key>
			<string>1</string>
			<key>iso_code</key>
			<string>lc</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Saint Martin</string>
			<key>country_code</key>
			<string>590</string>
			<key>iso_code</key>
			<string>mf</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Saint Pierre and Miquelon</string>
			<key>country_code</key>
			<string>508</string>
			<key>iso_code</key>
			<string>pm</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Saint Vincent and the Grenadines</string>
			<key>country_code</key>
			<string>1</string>
			<key>iso_code</key>
			<string>vc</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Samoa</string>
			<key>country_code</key>
			<string>685</string>
			<key>iso_code</key>
			<string>ws</string>
		</dict>
		<dict>
			<key>country</key>
			<string>San Marino</string>
			<key>country_code</key>
			<string>378</string>
			<key>iso_code</key>
			<string>sm</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Sao Tome and Principe</string>
			<key>country_code</key>
			<string>239</string>
			<key>iso_code</key>
			<string>st</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Saudi Arabia</string>
			<key>country_code</key>
			<string>966</string>
			<key>iso_code</key>
			<string>sa</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Senegal</string>
			<key>country_code</key>
			<string>221</string>
			<key>iso_code</key>
			<string>sn</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Serbia</string>
			<key>country_code</key>
			<string>381</string>
			<key>iso_code</key>
			<string>rs</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Seychelles</string>
			<key>country_code</key>
			<string>248</string>
			<key>iso_code</key>
			<string>sc</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Sierra Leone</string>
			<key>country_code</key>
			<string>232</string>
			<key>iso_code</key>
			<string>sl</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Singapore</string>
			<key>country_code</key>
			<string>65</string>
			<key>iso_code</key>
			<string>sg</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Sint Maarten</string>
			<key>country_code</key>
			<string>1</string>
			<key>iso_code</key>
			<string>sx</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Slovakia</string>
			<key>country_code</key>
			<string>421</string>
			<key>iso_code</key>
			<string>sk</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Slovenia</string>
			<key>country_code</key>
			<string>386</string>
			<key>iso_code</key>
			<string>si</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Solomon Islands</string>
			<key>country_code</key>
			<string>677</string>
			<key>iso_code</key>
			<string>sb</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Somalia</string>
			<key>country_code</key>
			<string>252</string>
			<key>iso_code</key>
			<string>so</string>
		</dict>
		<dict>
			<key>country</key>
			<string>South Africa</string>
			<key>country_code</key>
			<string>27</string>
			<key>iso_code</key>
			<string>za</string>
		</dict>
		<dict>
			<key>country</key>
			<string>South Korea</string>
			<key>country_code</key>
			<string>82</string>
			<key>iso_code</key>
			<string>kr</string>
		</dict>
		<dict>
			<key>country</key>
			<string>South Sudan</string>
			<key>country_code</key>
			<string>211</string>
			<key>iso_code</key>
			<string>ss</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Spain</string>
			<key>country_code</key>
			<string>34</string>
			<key>iso_code</key>
			<string>es</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Sri Lanka</string>
			<key>country_code</key>
			<string>94</string>
			<key>iso_code</key>
			<string>lk</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Sudan</string>
			<key>country_code</key>
			<string>249</string>
			<key>iso_code</key>
			<string>sd</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Suriname</string>
			<key>country_code</key>
			<string>597</string>
			<key>iso_code</key>
			<string>sr</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Svalbard and Jan Mayen</string>
			<key>country_code</key>
			<string>47</string>
			<key>iso_code</key>
			<string>sj</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Swaziland</string>
			<key>country_code</key>
			<string>268</string>
			<key>iso_code</key>
			<string>sz</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Sweden</string>
			<key>country_code</key>
			<string>46</string>
			<key>iso_code</key>
			<string>se</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Switzerland</string>
			<key>country_code</key>
			<string>41</string>
			<key>iso_code</key>
			<string>ch</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Syria</string>
			<key>country_code</key>
			<string>963</string>
			<key>iso_code</key>
			<string>sy</string>
		</dict>
	</array>
	<key>T</key>
	<array>
		<dict>
			<key>country</key>
			<string>Taiwan</string>
			<key>country_code</key>
			<string>886</string>
			<key>iso_code</key>
			<string>tw</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Tajikistan</string>
			<key>country_code</key>
			<string>992</string>
			<key>iso_code</key>
			<string>tj</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Tanzania</string>
			<key>country_code</key>
			<string>255</string>
			<key>iso_code</key>
			<string>tz</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Thailand</string>
			<key>country_code</key>
			<string>66</string>
			<key>iso_code</key>
			<string>th</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Togo</string>
			<key>country_code</key>
			<string>228</string>
			<key>iso_code</key>
			<string>tg</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Tokelau</string>
			<key>country_code</key>
			<string>690</string>
			<key>iso_code</key>
			<string>tk</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Tonga</string>
			<key>country_code</key>
			<string>676</string>
			<key>iso_code</key>
			<string>to</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Trinidad and Tobago</string>
			<key>country_code</key>
			<string>1</string>
			<key>iso_code</key>
			<string>tt</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Tunisia</string>
			<key>country_code</key>
			<string>216</string>
			<key>iso_code</key>
			<string>tn</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Turkey</string>
			<key>country_code</key>
			<string>90</string>
			<key>iso_code</key>
			<string>tr</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Turkmenistan</string>
			<key>country_code</key>
			<string>993</string>
			<key>iso_code</key>
			<string>tm</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Turks and Caicos Islands</string>
			<key>country_code</key>
			<string>1</string>
			<key>iso_code</key>
			<string>tc</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Tuvalu</string>
			<key>country_code</key>
			<string>688</string>
			<key>iso_code</key>
			<string>tv</string>
		</dict>
	</array>
	<key>U</key>
	<array>
		<dict>
			<key>country</key>
			<string>U.S. Virgin Islands</string>
			<key>country_code</key>
			<string>1</string>
			<key>iso_code</key>
			<string>vi</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Uganda</string>
			<key>country_code</key>
			<string>256</string>
			<key>iso_code</key>
			<string>ug</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Ukraine</string>
			<key>country_code</key>
			<string>380</string>
			<key>iso_code</key>
			<string>ua</string>
		</dict>
		<dict>
			<key>country</key>
			<string>United Arab Emirates</string>
			<key>country_code</key>
			<string>971</string>
			<key>iso_code</key>
			<string>ae</string>
		</dict>
		<dict>
			<key>country</key>
			<string>United Kingdom</string>
			<key>country_code</key>
			<string>44</string>
			<key>iso_code</key>
			<string>gb</string>
		</dict>
		<dict>
			<key>country</key>
			<string>United States</string>
			<key>country_code</key>
			<string>1</string>
			<key>iso_code</key>
			<string>us</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Uruguay</string>
			<key>country_code</key>
			<string>598</string>
			<key>iso_code</key>
			<string>uy</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Uzbekistan</string>
			<key>country_code</key>
			<string>998</string>
			<key>iso_code</key>
			<string>uz</string>
		</dict>
	</array>
	<key>V</key>
	<array>
		<dict>
			<key>country</key>
			<string>Vanuatu</string>
			<key>country_code</key>
			<string>678</string>
			<key>iso_code</key>
			<string>vu</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Vatican</string>
			<key>country_code</key>
			<string>379</string>
			<key>iso_code</key>
			<string>va</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Venezuela</string>
			<key>country_code</key>
			<string>58</string>
			<key>iso_code</key>
			<string>ve</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Vietnam</string>
			<key>country_code</key>
			<string>84</string>
			<key>iso_code</key>
			<string>vn</string>
		</dict>
	</array>
	<key>W</key>
	<array>
		<dict>
			<key>country</key>
			<string>Wallis and Futuna</string>
			<key>country_code</key>
			<string>681</string>
			<key>iso_code</key>
			<string>wf</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Western Sahara</string>
			<key>country_code</key>
			<string>212</string>
			<key>iso_code</key>
			<string>eh</string>
		</dict>
	</array>
	<key>Y</key>
	<array>
		<dict>
			<key>country</key>
			<string>Yemen</string>
			<key>country_code</key>
			<string>967</string>
			<key>iso_code</key>
			<string>ye</string>
		</dict>
	</array>
	<key>Z</key>
	<array>
		<dict>
			<key>country</key>
			<string>Zambia</string>
			<key>country_code</key>
			<string>260</string>
			<key>iso_code</key>
			<string>zm</string>
		</dict>
		<dict>
			<key>country</key>
			<string>Zimbabwe</string>
			<key>country_code</key>
			<string>263</string>
			<key>iso_code</key>
			<string>zw</string>
		</dict>
	</array>
</dict>
</plist>
